body{
    scroll-snap-type: y mandatory;
  }

  .sitecover {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    scroll-snap-align: start;
  }
  
  .sitecover img{
    align-self: center;
  }
  
  #im1 {
    background-image: url('/ursem.cc/images/2020-2021/farm/farm-18.jpg');
  }
  #im2{
    background-image: url('/ursem.cc/images/2020-2021/champs/1.jpg');
  }
  #im3{
    background-image: url('/ursem.cc/images/2022/06/04/IMG_5957.jpg');
  }
  #im4{
    background-image: url('/ursem.cc/images/2020-2021/disposable/Disposable-20.jpg');
  }