@font-face {
    font-family: 'dm_serif';
    src: url(/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'greycliff';
  src: url(/fonts/Fontspring-DEMO-greycliffcf-heavy.otf) format("opentype");
}

body {
    background: #202020;
    cursor: grab;
}

/* NAV BAR */

#navbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 25px;
  list-style-type: none;
  justify-content: space-between;
}

.logo {
    height: 60px;
    vertical-align: middle;
    padding-right: 12px;
}

.topText {
  font-family: 'dm_serif';
  color: #bbb;
}

.navitem {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .topText{
    font-size: 12px;
  }
  .logo {
    width: 100px;
    height: auto;
  }
}
/*INDEX*/

#sitecover {
  width: 100%;
  height: 75vh;
}

#sitecover td
{
  width: 50%;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
}

#sitecover p
{
  font-family: 'dm_serif';
  color: #bbb;
  font-size: 36px;
  padding-bottom: 100px;
}

#sitecover a
{
  font-family: 'dm_serif';
  color: rgb(77, 77, 77);
  font-size: 28px;
  background-color: beige;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  width: 75%;
}

#sitecover b
{
  font-family: 'dm_serif';
  color: #bbb;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #sitecover p{
    font-size: 18px;
  }
  #sitecover {
    height: 60vh;
  }
}

/*PHOTO PAGES*/

#coverimg {
  width: 95vw;
  height: 80vh;
  margin: auto;
  object-fit: cover;
  border-radius: 18px;
  display: block;
}

#tagBar {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: 9px;
  padding-bottom: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: beige;
  border-bottom: beige;
  border-top-style: solid;
  border-bottom-style: solid;
}

.tags {
  padding: 0 15px;
  border-style: solid;
  border-color: #BBB;
  border-radius: 10px;
  color: #bbb;
  font-size: 20px;
  text-decoration: none;
  font-family: 'greycliff';
}

.selected {
  color: #202020;
}

#imgs {   
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    -webkit-column-count: 3;
    -webkit-column-gap:   10px;
    -moz-column-count:    3;
    -moz-column-gap:      10px;
    column-count:         3;
    column-gap:           10px; 
}

#imgs img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  #imgs {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media screen and (max-width: 800px) {
  #imgs {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/*Image Enlargement*/

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: auto;
  }

  @media screen and (max-width: 800px) {
    .modal-content{
      width: 75%;
      height: auto;
    }
  }

  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 800px){
    .modal-content {
      width: 100%;
    }
  }

  /* CONTACT */
  
  #contact {
    width: 80vw;
    display: block;
    margin: auto;
    margin-top: 15%;
  }

  /*FIREWORKS*/

  @keyframes firework-rocket-animation {
    0% {background-color: #000;}
    25% {background-color: rgb(216, 204, 39);}
    100% {background-color: #000;}
  }

  @-webkit-keyframes firework-rocket-animation {
    0% {background-color: #000;}
    25% {background-color: rgb(216, 204, 39);}
    100% {background-color: #000;}
  }

  @keyframes firework-animation {
    0% {background-color: #ced9ed;}
    20% {background-color: #cfc7fa;}
    40% {background-color: #e2c6ee;}
    60% {background-color: #efc8dd;}
    80% {background-color: #d7e9db;}
    100% {background-color: #ced9ed;}
  }

  @-webkit-keyframes firework-animation {
    0% {background-color: #ced9ed;}
    20% {background-color: #cfc7fa;}
    40% {background-color: #e2c6ee;}
    60% {background-color: #efc8dd;}
    80% {background-color: #d7e9db;}
    100% {background-color: #ced9ed;}
  }

  #theSky {
    position: absolute;
  }

  .fireworkRocket {
    z-index : 999;
    position: absolute;
    height : 10px;
    width : 10px;
    border-radius : 10px;
    animation-name : firework-rocket-animation;
    animation-timing-function : linear;
    animation-duration : 1s;
    animation-iteration-count : infinite;
  }

  .firework {
    z-index : 999;
    position: absolute;
    height : 10px;
    width : 10px;
    border-radius : 10px;
    animation-name : firework-animation;
    animation-timing-function : linear;
    animation-duration : 1s;
    animation-iteration-count : infinite;
  }